.card {
	display: none;
	/* display: flex; */
	justify-content: right;
	gap: 10px;

	position: fixed;
	top: 0;
	right: 0;
	margin: 2rem;

	/* TODO WIP */
	transition: opacity 0.5s ease-in-out;
}

.card-graphic {
	background-color: yellow;
	width: 100px;
	height: 120px;
}

.card-info {
	background-color: gray;
	padding: 0 20px;
}

.card-receiver {
	font-size: 50px;
}

.card-message {
	font-size: 28px;
}
