.card {
	display: none;
	/* display: flex; TODO */
	gap: var(--gap-smol);

	position: absolute;
	top: 3%;
	right: 3%;
}

.card .graphic {
	width: 100px;
	background-color: blue;

	border-radius: var(--corner) 0 0 var(--corner);
}

.card .info {
	padding: 10px var(--padding-text);
	border-radius: 0 var(--corner) var(--corner) 0;

	min-width: 300px;
	min-height: 40px;
}

.card .message {
	display: flex;
}
