.card {
	display: none;
	/* display: flex; */
	justify-content: right;
	gap: 10px;
}

.card-graphic {
	background-color: yellow;
	border: 5px solid gray;
	width: 100px;
	height: 120px;
}

.card-info {
	background-color: gray;
	padding: 0 20px;
}

.card-receiver {
	font-size: 50px;
}

.card-message {
	font-size: 24px;
}
