.game-plan {
	font-size: 50px;

	margin: auto;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 15px;

	width: 70%;
	height: 90vh;
}

.game-plan-heading {
	font-size: 60px;
}

.game {
	display: flex;
	justify-content: center;
	gap: 10px;
}

.score-1, .score-2 {
	background-color: gray;
	width: 60px;
	padding: 0 10px;
}

.team-left, .team-right {
	background-color: brown;
	width: 100px;
	flex-grow: 1;
}

.team-left {
	color: gold;
}

.anticipated {
	opacity: 0.6;
}
