.livetable {
	display: none; /* TODO */

	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	border-spacing: var(--gap-smol) 20px;

	width: max-content;
}

.livetable th, .livetable td {
	border-radius: 0;

	padding: calc(var(--padding-text) / 4) var(--padding-text);
}

.livetable td:first-child, .livetable th:first-child {
	border-radius: var(--corner) 0 0 var(--corner);

	max-width: 400px;
}

.livetable td:last-child, .livetable th:last-child {
	border-radius: 0 var(--corner) var(--corner) 0;
}

.livetable th {
	background-color: pink;
}

.livetable td {
	background-color: cyan;
}
