.livetable {
	display: flex;
	flex-direction: column;

	justify-content: center;
	align-items: center;
	height: 100vh;
}

.livetable .heading {
	font-size: 60px;
}

.line {
	display: flex;
	margin: 20px;
}

.line > * {
	background-color: #bebebe;
	border: solid 3px black;

	text-align: center;

	padding: 10px;
	margin: 0 5px;
	width: 150px;
}

.header {
	background-color: #7f7f7f;
	color: white;
}

.name {
	width: 200px;
}
