.livetable {
	display: none;
	flex-direction: column;

	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	gap: 20px;

	/* TODO WIP */
	transition: opacity 0.5s ease-in-out;
}

.livetable > * {
	margin: auto;
}

.line {
	display: flex;
	gap: 10px;
}

.line > * {
	background-color: #bebebe;

	text-align: center;

	padding: 10px;
	width: 150px;
}

.header {
	background-color: #7f7f7f;
	color: white;
}

.name {
	width: 200px;
}
