:root {
	--size-font: 32px;
	--size-font-big: 64px;
	--size-font-smol: 24px;

	--gap: 10px;
	--gap-smol: 4px;
	--corner: 10px;
	--padding-text: 20px;

	--light-gray: #bbb;
	--gold: #ec3;
}

body {
	font-family: "Kanit";
	font-size: var(--size-font);
}

.bordered {
	border: 5px solid black;
	border-bottom: 7px solid black;
	border-radius: var(--corner);
	box-shadow: inset 2px 2px 0 rgba(0, 0, 0, 0.4),
		15px 15px 15px rgba(0, 0, 0, 0.9);
}

@font-face {
	font-family: "Kanit";
	src: url("../fonts/Kanit-Regular.ttf") format("truetype");
}
