.gamestart {
	display: flex;
	justify-content: space-between;
	margin: auto;
	width: 50%;
	height: 90vh;
}

.team-name {
	font-size: 60px;
	text-align: center;
}

.left, .right {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 20px;
}

.player {
	padding: 10px 20px;
}

.left .player {
	color: white;
	background-color: rgba(145, 0, 0, 1);
}

.right .player {
	background-color: rgba(255, 199, 0, 1);
}

.player-role {
	font-size: 28px;
	color: gray;
}
