/* TODO FINAL ALL make choice of absolute/relative sizes consistent */
.scoreboard {
    display: none;		    /* children should not stretch to entire width */
    flex-direction: column; /* children should be packed horizontally */
    gap: 10px;              /* children should have 10 pixels between each other */

	/* TODO WIP */
	transition: opacity 0.5s ease-in-out;
}

.scoreboard .scoreboard-top {
    display: flex;
    align-items: flex-end;
    gap: 10px;
}

.scoreboard .time-container {
	background-color: gray;
	position: relative;
	height: 30px;
}

.scoreboard .bar {
	background: linear-gradient(90deg, #0b8e44 0%, #42f08d 95%);
	position: absolute;
	top: 0;
	left: 0;

	width: 100%;
	height: 30px;

	/* TODO WIP transition: width linear; */
	transition: width 0.5s ease-in-out;
}

.scoreboard .time {
	font-size: 24px;
	position: absolute;
	display: flex;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	text-align: center;
}

.scoreboard .team {
    width: 260px;
    padding: 0 16px;
}

.scoreboard .t1 {
	background-color: rgba(255,70,0,1);
    text-align: right;
}

.scoreboard .t2 {
	background-color: rgba(255,199,0,1);
}

.scoreboard .s1, .scoreboard .s2 {
    color: black;
	background-color: #bebebe;
    font-size: 40px;
	width: 30px;

	text-align: center;

    padding: 10px 20px;
}
