*.o
.vscode/
MessageType.js
MessageType.ts
backend/interscore-backend
docker/obs
rentnerend/lib/*.freezed.dart
rentnerend/lib/*.g.dart
rentnerend/lib/MessageType.dart
rentnerend/pubspec.lock
frontend/bun.lockb
frontend/node_modules/
frontend/script.js
project.seer
replays/
win-pacman/msys2-root/

# Dead weight
rentnerend/macos

# Binaries
interscore
rentnerend/interscore-old
rentnerend/interscore-server

# TODO
flutter_rentnerend
