*.o
.vscode/
MessageType.js
MessageType.ts
backend/interscore-backend
docker/obs
flutter_rentnerend/lib/*.freezed.dart
flutter_rentnerend/lib/*.g.dart
flutter_rentnerend/lib/MessageType.dart
flutter_rentnerend/pubspec.lock
frontend/bun.lockb
frontend/node_modules/
frontend/script.js
interscore
project.seer
rentnerend/interscore
rentnerend/interscore-old
rentnerend/interscore-rentnerend
rentnerend/interscore-server
replays/
win-pacman/msys2-root/
