/* TODO NOW corner cutting should also cut the list items */
#launcher .content .list li {
	/* TODO TEST */
	background-color: white;

	display: block;
	padding: var(--margin-std);
}

#launcher .content .list li .name {
	font-size: var(--fsize-mid);
}
