#event-editor {
	background-color: darkorange;
	display: flex;
	flex-direction: column;

	height: 100%;
}

#event-editor .content {
	display: flex;
	flex-direction: column;
	gap: var(--margin-std);

	margin: var(--margin-std);
	flex: 1;
}

#event-editor .team-division {
	display: flex;
	gap: var(--margin-std);
}
#event-editor .team-division > * { flex: 1; }

#event-editor .player-division {
	display: flex;
	flex-direction: column;
	gap: var(--margin-std);
}

#event-editor .team-list { background-color: green; }
#event-editor .role-list { background-color: gray; }
#event-editor .player-list { background-color: purple; }
#event-editor .game-list { background-color: maroon; }

#event-editor .game-list .buttons {
	display: flex;
	gap: var(--margin-std);

	margin-top: var(--margin-std);
}

#event-editor ul { padding: 0; }
#event-editor li {
	display: flex;
	padding: var(--margin-smol) var(--margin-std);
}

#event-editor .navigation {
	display: flex;
	gap: var(--margin-std);

	margin: var(--margin-std);
}
