#editor {
	background-color: darkorange;
	display: flex;
	flex-direction: column;

	height: 100%;
}

#editor .content {
	display: flex;
	flex-direction: column;
	gap: var(--margin-std);

	margin: var(--margin-std);
	flex: 1;
}

#editor .team-division {
	display: flex;
	gap: var(--margin-std);
}
#editor .team-division > * { flex: 1; }

#editor .player-division {
	display: flex;
	flex-direction: column;
	gap: var(--margin-std);
}

#editor .team-list { background-color: green; }
#editor .role-list { background-color: gray; }
#editor .player-list { background-color: purple; }
#editor .game-list { background-color: maroon; }

#editor .game-list .buttons {
	display: flex;
	gap: var(--margin-std);

	margin-top: var(--margin-std);
}

#editor ul { padding: 0; }

#editor .navigation {
	display: flex;
	gap: var(--margin-std);

	margin: var(--margin-std);
}
