#editor .player-list li {
	background-color: violet;
	display: flex;
	justify-content: space-between;

	padding: var(--margin-smol);
}

#editor .player-list li[aria-selected="true"] {
	background-color: cyan;
}
