#editor .team-list li {
	background-color: darkgreen;
	display: flex;
	justify-content: space-between;

	padding: var(--margin-std);
}

#editor .team-list li[aria-selected="true"] {
	background-color: cyan;
}
