# Necessary for clangd to work properly with Qt6
CompileFlags:
  Add: [
	"-DQT_CORE_LIB",
	"-DQT_GUI_LIB",
	"-DQT_MULTIMEDIA_LIB",
	"-DQT_NETWORK_LIB",
	"-DQT_WIDGETS_LIB",
	"-I/usr/include/qt6/QtWidgets",
	"-I/usr/include/qt6",
	"-DQT_WIDGETS_LIB",
	"-I/usr/include/qt6/QtGui",
	"-DQT_GUI_LIB",
	"-I/usr/include/qt6/QtCore",
	"-DQT_CORE_LIB",
	"-I/usr/lib/qt6/mkspecs/linux-g++",
	"-lQt6Widgets",
	"-lQt6Gui",
	"-lQt6Core",
	"-lQt6Multimedia"
]
