# Necessary for clangd to work properly with QT6
CompileFlags:
  Add: [
	"-I/usr/include/qt6/QtWidgets",
	"-I/usr/include/qt6",
	"-DQT_WIDGETS_LIB",
	"-I/usr/include/qt6/QtGui",
	"-DQT_GUI_LIB",
	"-I/usr/include/qt6/QtCore",
	"-DQT_CORE_LIB",
	"-I/usr/lib/qt6/mkspecs/linux-g++",
	"-lQt6Widgets",
	"-lQt6Gui",
	"-lQt6Core"
	#"-I/usr/include/gtk-4.0",
	#"-I/usr/include/pango-1.0",
	#"-I/usr/include/fribidi",
	#"-I/usr/include/harfbuzz",
	#"-I/usr/include/gdk-pixbuf-2.0",
	#"-I/usr/include/cairo",
	#"-I/usr/include/freetype2",
	#"-I/usr/include/libpng16",
	#"-I/usr/include/pixman-1",
	#"-I/usr/include/graphene-1.0",
	#"-I/usr/lib/graphene-1.0/include",
	#"-mfpmath=sse",
	#"-msse",
	#"-msse2",
	#"-I/usr/include/glib-2.0",
	#"-I/usr/lib/glib-2.0/include",
	#"-I/usr/include/libmount",
    #"-I/usr/include/blkid",
    #"-I/usr/include/sysprof-6",
    #"-pthread",
    #"-lgtk-4",
    #"-lpangocairo-1.0",
    #"-lpango-1.0",
    #"-lgdk_pixbuf-2.0",
    #"-lcairo-gobject",
    #"-lcairo",
    #"-lharfbuzz",
    #"-lvulkan",
    #"-lgraphene-1.0",
    #"-lgio-2.0",
    #"-lgobject-2.0",
    #"-lglib-2.0"
]
