name: Flutter action
on:
  push:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: subosito/flutter-action@v2
        with:
          channel: stable
          cache: true
          flutter-version-file: rentnerend/pubspec.yaml
      - run: |
          sudo apt-get update -y
          sudo apt-get install -y ninja-build libgtk-3-dev libgstreamer1.0-dev libgstreamer-plugins-base1.0-dev

      - name: Build Linux
        working-directory: rentnerend
        run: flutter build linux

      - uses: actions/upload-artifact@v4
        with:
          name: linux-build
          path: rentnerend/build/linux/x64/release/bundle/
