name: Flutter action
uses: subosito/flutter-action@v2.21.0
steps:
  - name: Clone repository
    uses: actions/checkout@v4
  - name: Set up Flutter
    uses: subosito/flutter-action@v2
    with:
      channel: stable
	  cache: true
      flutter-version-file: rentnerend/pubspec.yaml
  - run: flutter --version
